* {
  -webkit-user-drag: none;
  user-select: none;
}
.u-section-1 .u-sheet-1 {
  min-height: 225px;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  margin: 8px auto 0 93px;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  font-weight: 400;
  margin: -38px 93px 0 auto;
}

.u-section-1 .u-line-1 {
  transform-origin: right center 0px;
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-1 .u-table-1 {
  margin-top: 4px;
  margin-bottom: 8px;
}

.u-block-d39f-17 {
  height: 46px;
}

.u-section-1 .u-table-cell-1 {
  border-style: dashed;
  font-weight: 400;
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-2 {
  border-style: solid;
  font-weight: 700;
}

.u-section-1 .u-table-cell-3 {
  border-style: dashed;
  font-weight: 400;
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-4 {
  border-style: solid;
  font-weight: 700;
  font-size: 1rem;
}

.u-section-1 .u-table-cell-5 {
  border-style: dashed;
  font-weight: 400;
}

.u-section-1 .u-table-cell-6 {
  border-style: solid;
  font-weight: 700;
}

.u-section-1 .u-table-cell-7 {
  border-style: dashed;
  font-weight: 400;
}

.u-section-1 .u-table-cell-8 {
  border-style: solid;
  font-weight: 700;
}

.u-section-1 .u-table-cell-9 {
  border-style: dashed;
  font-weight: 400;
}

.u-section-1 .u-table-cell-10 {
  border-style: solid;
  font-weight: 700;
}

.u-section-1 .u-table-cell-11 {
  border-style: dashed;
  font-weight: 400;
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-12 {
  border-style: solid;
  font-weight: 700;
}

.u-block-d39f-32 {
  height: 46px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 9px;
    margin-left: 61px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 53px;
  }

  .u-section-1 .u-line-1 {
    margin-top: 10px;
  }

  .u-section-1 .u-table-1 {
    margin-bottom: 9px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 29px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 19px;
    margin-left: 501px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 230px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 12px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -37px;
    margin-right: 12px;
    margin-left: 337px;
  }

  .u-section-1 .u-line-1 {
    margin-top: 9px;
  }

  .u-section-1 .u-table-1 {
    margin-top: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 267px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 12px;
    margin-right: 117px;
    margin-left: 90px;
  }

  .u-section-1 .u-text-2 {
    width: 188px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-line-1 {
    margin-top: 8px;
  }

  .u-section-1 .u-table-1 {
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .u-section-1 .u-table-cell-4 {
    font-size: 0.75rem;
  }
}
.u-section-2 .u-sheet-1 {
  min-height: 801px;
}

.u-section-2 .u-table-1 {
  margin-top: 9px;
  margin-bottom: 0;
}

.u-block-b868-99 {
  height: 46px;
}

.u-section-2 .u-table-cell-1 {
  font-size: 1rem;
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-table-cell-2 {
  border-style: solid;
  letter-spacing: 0px;
  font-size: 0.875rem;
}

.u-section-2 .u-table-cell-3 {
  border-style: solid;
  font-size: 0.875rem;
}

.u-section-2 .u-table-cell-4 {
  border-style: dashed;
  font-size: 0.875rem;
}

.u-section-2 .u-table-cell-5 {
  border-style: dashed;
  font-size: 0.875rem;
}

.u-section-2 .u-table-cell-6 {
  border-style: dashed;
  font-size: 0.875rem;
}

.u-section-2 .u-table-cell-7 {
  border-style: solid;
  font-size: 0.875rem;
}

.u-section-2 .u-table-cell-8 {
  border-style: solid;
  font-size: 0.875rem;
}

.u-section-2 .u-table-cell-9 {
  border-style: solid;
  font-size: 0.875rem;
}

.u-section-2 .u-table-cell-10 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-table-cell-11 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-table-cell-12 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-table-cell-13 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-table-cell-14 {
  font-size: 0.875rem;
  background-image: none;
}

.u-section-2 .u-table-cell-15 {
  border-style: solid;
  font-size: 1rem;
}

.u-section-2 .u-table-cell-16 {
  border-style: solid;
  letter-spacing: 0px;
  font-size: 1rem;
}

.u-section-2 .u-table-cell-17 {
  border-style: solid;
  font-size: 1rem;
}

.u-section-2 .u-table-cell-18 {
  border-style: dashed;
  font-size: 1rem;
}

.u-section-2 .u-table-cell-19 {
  border-style: dashed;
  font-size: 1rem;
}

.u-section-2 .u-table-cell-20 {
  border-style: dashed;
  font-size: 1rem;
}

.u-section-2 .u-table-cell-21 {
  border-style: solid;
  font-size: 1rem;
}

.u-section-2 .u-table-cell-22 {
  border-style: solid;
  font-size: 1rem;
}

.u-section-2 .u-table-cell-23 {
  border-style: solid;
  font-size: 1rem;
}

.u-section-2 .u-table-cell-25 {
  font-size: 1rem;
}

.u-section-2 .u-table-cell-26 {
  font-size: 1.125rem;
}

.u-section-2 .u-table-cell-27 {
  font-size: 1.125rem;
}

.u-section-2 .u-table-cell-28 {
  font-size: 0.875rem;
}

.u-section-2 .u-table-cell-32 {
  border-style: dashed;
}

.u-section-2 .u-table-cell-33 {
  border-style: dashed;
}

.u-section-2 .u-table-cell-34 {
  border-style: dashed;
}

.u-section-2 .u-table-cell-42 {
  font-size: 0.875rem;
}

.u-section-2 .u-table-cell-46 {
  border-style: dashed;
}

.u-section-2 .u-table-cell-47 {
  border-style: dashed;
}

.u-section-2 .u-table-cell-48 {
  border-style: dashed;
}

.u-section-2 .u-table-cell-56 {
  font-size: 0.875rem;
}

.u-section-2 .u-table-cell-60 {
  border-style: dashed;
}

.u-section-2 .u-table-cell-61 {
  border-style: dashed;
}

.u-section-2 .u-table-cell-62 {
  border-style: dashed;
}

.u-section-2 .u-table-cell-70 {
  font-size: 0.875rem;
}

.u-section-2 .u-table-cell-74 {
  border-style: dashed;
}

.u-section-2 .u-table-cell-75 {
  border-style: dashed;
}

.u-section-2 .u-table-cell-76 {
  border-style: dashed;
}

.u-section-2 .u-table-cell-84 {
  font-size: 0.875rem;
}

.u-section-2 .u-table-cell-88 {
  border-style: dashed;
}

.u-section-2 .u-table-cell-89 {
  border-style: dashed;
}

.u-section-2 .u-table-cell-90 {
  border-style: dashed;
}

.u-section-2 .u-table-cell-98 {
  font-size: 0.875rem;
}

.u-section-2 .u-table-cell-102 {
  border-style: dashed;
}

.u-section-2 .u-table-cell-103 {
  border-style: dashed;
}

.u-section-2 .u-table-cell-104 {
  border-style: dashed;
}

.u-section-2 .u-table-cell-112 {
  font-size: 0.875rem;
}

.u-section-2 .u-table-cell-116 {
  border-style: dashed;
}

.u-section-2 .u-table-cell-117 {
  border-style: dashed;
}

.u-section-2 .u-table-cell-118 {
  border-style: dashed;
}

.u-section-2 .u-table-cell-126 {
  font-size: 0.875rem;
}

.u-section-2 .u-table-cell-130 {
  border-style: dashed;
}

.u-section-2 .u-table-cell-131 {
  border-style: dashed;
}

.u-section-2 .u-table-cell-132 {
  border-style: dashed;
}

.u-section-2 .u-table-cell-140 {
  font-size: 0.875rem;
}

.u-section-2 .u-table-cell-144 {
  border-style: dashed;
}

.u-section-2 .u-table-cell-145 {
  border-style: dashed;
}

.u-section-2 .u-table-cell-146 {
  border-style: dashed;
}

.u-section-2 .u-table-cell-154 {
  font-size: 0.875rem;
}

.u-block-b868-114 {
  height: 46px;
}

.u-section-2 .u-table-2 {
  margin-top: 9px;
  margin-bottom: 0;
}

.u-block-b868-411 {
  height: 46px;
}

.u-section-2 .u-table-cell-155 {
  background-image: none;
}

.u-section-2 .u-table-cell-156 {
  background-image: none;
}

.u-section-2 .u-table-cell-157 {
  background-image: none;
}

.u-section-2 .u-table-cell-158 {
  border-style: dashed;
  background-image: none;
}

.u-section-2 .u-table-cell-159 {
  border-style: dashed;
  background-image: none;
}

.u-section-2 .u-table-cell-160 {
  border-style: dashed;
  background-image: none;
}

.u-section-2 .u-table-cell-161 {
  background-image: none;
}

.u-section-2 .u-table-cell-162 {
  background-image: none;
}

.u-section-2 .u-table-cell-163 {
  background-image: none;
}

.u-section-2 .u-table-cell-164 {
  font-size: 1.25rem;
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-table-cell-165 {
  font-size: 1.125rem;
}

.u-section-2 .u-table-cell-166 {
  font-size: 1rem;
  font-weight: 700;
}

.u-section-2 .u-table-cell-167 {
  background-image: none;
}

.u-section-2 .u-table-cell-168 {
  background-image: none;
}

.u-section-2 .u-table-cell-169 {
  background-image: none;
}

.u-section-2 .u-table-cell-170 {
  border-style: dashed;
  background-image: none;
}

.u-section-2 .u-table-cell-171 {
  border-style: dashed;
  background-image: none;
}

.u-section-2 .u-table-cell-172 {
  border-style: dashed;
  background-image: none;
}

.u-section-2 .u-table-cell-173 {
  background-image: none;
}

.u-section-2 .u-table-cell-174 {
  background-image: none;
}

.u-section-2 .u-table-cell-175 {
  background-image: none;
}

.u-section-2 .u-table-cell-176 {
  font-size: 1.25rem;
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-table-cell-177 {
  font-size: 1.125rem;
}

.u-section-2 .u-table-cell-178 {
  font-size: 1rem;
  font-weight: 700;
}

.u-section-2 .u-table-cell-179 {
  background-image: none;
}

.u-section-2 .u-table-cell-180 {
  background-image: none;
}

.u-section-2 .u-table-cell-181 {
  background-image: none;
}

.u-section-2 .u-table-cell-182 {
  border-style: dashed;
  background-image: none;
}

.u-section-2 .u-table-cell-183 {
  border-style: dashed;
  background-image: none;
}

.u-section-2 .u-table-cell-184 {
  border-style: dashed;
  background-image: none;
}

.u-section-2 .u-table-cell-185 {
  background-image: none;
}

.u-section-2 .u-table-cell-186 {
  background-image: none;
}

.u-section-2 .u-table-cell-187 {
  background-image: none;
}

.u-section-2 .u-table-cell-188 {
  font-size: 1.25rem;
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-table-cell-189 {
  font-size: 1.125rem;
}

.u-section-2 .u-table-cell-190 {
  font-size: 1rem;
  font-weight: 700;
}

.u-block-b868-438 {
  height: 46px;
}

.u-section-2 .u-table-3 {
  margin-top: 7px;
  margin-bottom: 9px;
}

.u-block-b868-458 {
  height: 46px;
}

.u-section-2 .u-table-cell-191 {
  border-style: dashed;
  font-size: 1.5rem;
  font-weight: 700;
}

.u-section-2 .u-table-cell-193 {
  font-weight: 700;
  border-style: dashed;
  font-size: 1.5rem;
}

.u-section-2 .u-table-cell-194 {
  font-weight: 400;
}

.u-section-2 .u-table-cell-195 {
  font-weight: 700;
  border-style: dashed;
  font-size: 1.5rem;
}

.u-section-2 .u-table-cell-196 {
  font-weight: 400;
}

.u-section-2 .u-table-cell-197 {
  font-weight: 700;
}

.u-block-b868-477 {
  height: 46px;
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 840px;
  }
}
.u-section-3 .u-sheet-1 {
  min-height: 219px;
}

.u-section-3 .u-line-1 {
  transform-origin: right center 0px;
  margin-top: 1px;
  margin-bottom: 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  border-style: none;
  margin: 9px auto 0 492px;
  padding: 0;
}

.u-section-3 .u-table-1 {
  margin-top: 15px;
  margin-bottom: 0;
}

.u-block-6cd0-16 {
  height: 46px;
}

.u-section-3 .u-table-cell-1 {
  border-style: dashed;
  font-size: 1.125rem;
}

.u-section-3 .u-table-cell-2 {
  font-weight: 700;
}

.u-section-3 .u-table-cell-3 {
  border-style: dashed;
  font-size: 1.125rem;
}

.u-section-3 .u-table-cell-4 {
  font-weight: 700;
}

.u-block-6cd0-23 {
  height: 46px;
}

.u-section-3 .u-text-1 {
  font-size: 1.125rem;
  margin: 9px 126px 0 922px;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  margin: -28px 933px 15px 126px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-btn-1 {
    margin-right: 391px;
    margin-left: auto;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 15px;
    margin-right: 43px;
    margin-left: 779px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-right: 755px;
    margin-bottom: 9px;
    margin-left: 56px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 234px;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 281px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 24px;
    margin-right: 36px;
    margin-left: 561px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 546px;
    margin-left: 50px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 14px;
    margin-right: auto;
  }

  .u-section-3 .u-table-1 {
    margin-top: 10px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 15px;
    margin-right: 24px;
    margin-left: 404px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 410px;
    margin-bottom: 10px;
    margin-left: 24px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 234px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 11px;
  }

  .u-section-3 .u-table-1 {
    margin-top: 18px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 17px;
    margin-right: 17px;
    margin-left: 208px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 208px;
    margin-bottom: 17px;
    margin-left: 21px;
  }
}
