 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 118px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 400;
  width: 266px;
  margin: 31px auto;
}.u-section-2 .u-sheet-1 {
  min-height: 89px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 97px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 98px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 91px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 141px;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 16px auto 0 647px;
  padding: 5px 16px 5px 14px;
}

.u-section-3 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -35px auto 0 552px;
  padding: 5px 16px 5px 14px;
}

.u-section-3 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -35px auto 0 452px;
  padding: 5px 16px 5px 14px;
}

.u-section-3 .u-text-1 {
  font-size: 0.875rem;
  font-weight: 400;
  margin: 0 447px 0 643px;
}

.u-section-3 .u-text-2 {
  font-size: 0.875rem;
  font-weight: 400;
  margin: -22px 540px 0 550px;
}

.u-section-3 .u-text-3 {
  font-size: 0.875rem;
  font-weight: 400;
  margin: -22px 643px 0 447px;
}

.u-section-3 .u-btn-4 {
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-weight: normal;
  margin: 7px auto 0 593px;
  padding: 10px 62px 10px 60px;
}

.u-section-3 .u-btn-5 {
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-weight: normal;
  margin: -45px auto 16px 403px;
  padding: 10px 52px 10px 51px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 142px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 548px;
  }

  .u-section-3 .u-btn-2 {
    margin-left: 453px;
  }

  .u-section-3 .u-btn-3 {
    margin-left: 353px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: -1px;
    margin-right: 347px;
    margin-left: 544px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: -21px;
    margin-right: 443px;
    margin-left: 448px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-right: 544px;
    margin-left: 347px;
  }

  .u-section-3 .u-btn-4 {
    margin-left: 493px;
  }

  .u-section-3 .u-btn-5 {
    margin-left: 303px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-btn-1 {
    align-self: center;
    margin-top: 17px;
    margin-left: 439px;
  }

  .u-section-3 .u-btn-2 {
    align-self: center;
    margin-left: 344px;
  }

  .u-section-3 .u-btn-3 {
    align-self: center;
    margin-left: 244px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 0;
    margin-right: 238px;
    margin-left: 434px;
  }

  .u-section-3 .u-text-2 {
    margin-top: -22px;
    margin-right: 333px;
    margin-left: 339px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -23px;
    margin-right: 433px;
    margin-left: 238px;
  }

  .u-section-3 .u-btn-4 {
    align-self: center;
    margin-top: 8px;
    margin-left: 375px;
  }

  .u-section-3 .u-btn-5 {
    margin-bottom: 17px;
    margin-left: 202px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 145px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 18px;
    margin-left: 338px;
  }

  .u-section-3 .u-btn-2 {
    margin-left: auto;
  }

  .u-section-3 .u-btn-3 {
    margin-left: 162px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -1px;
    margin-right: 157px;
    margin-left: 334px;
  }

  .u-section-3 .u-text-2 {
    width: 49px;
    margin-top: -21px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-3 {
    margin-top: -22px;
    margin-right: 334px;
    margin-left: 157px;
  }

  .u-section-3 .u-btn-4 {
    margin-left: 112px;
  }

  .u-section-3 .u-btn-5 {
    margin-right: 125px;
    margin-bottom: 18px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 150px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 19px;
    margin-left: 232px;
  }

  .u-section-3 .u-btn-2 {
    margin-left: 147px;
  }

.footer2 {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;
}

  .u-section-3 .u-btn-3 {
    margin-left: 66px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 64px;
    margin-left: 228px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-right: 147px;
    margin-left: 144px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 228px;
    margin-left: 64px;
  }

  .u-section-3 .u-btn-4 {
    margin-top: 9px;
    margin-left: 21px;
  }

  .u-section-3 .u-btn-5 {
    margin-right: auto;
    margin-bottom: 19px;
    margin-left: 174px;
  }
}

.footer2 {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;
}